<div class="well">
<h2>Zmień swoje hasło:</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nowe hasło:" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Potwierdź hasło" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Zmień hasło" %></div>
<% end %>

<%= render "links" %>
</div>
