<div class="well">
<h2>Zapomniałeś hasła?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Wyślij instrukcje zmiany hasła" %></div>
<% end %>

<%= render "links" %>
</div>
